Repository fengyuanchen/compressorjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

build: release 1.0.2
  CHANGELOG.md
  README.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

docs: remove ES6 syntax
  docs/js/main.js
Due: eslint --fix

fix: convert TypedArray to Array manully
  CHANGELOG.md
  src/utilities.js
Due: eslint --fix

build: release 1.0.3
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

perf: optimize performance when using check-orientation
  src/index.js
Due: eslint --fix

perf: regenerate the url only when the orientation was reset
  CHANGELOG.md
  src/index.js
  src/utilities.js
Due: eslint --fix

perf: parse orientation only when its value is greater than 1
  src/index.js
Due: eslint --fix

build: release 1.0.4
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

fix: correct the url when the orientation is 1
  CHANGELOG.md
  src/index.js
Due: eslint --fix

docs: improve GitHub templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

ci: cache dependencies
  .travis.yml
Due: none

build: move configurations into package.json
  .browserslistrc
  .commitlintrc
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
Due: none

build: release 1.0.5
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package.json
Due: eslint --fix, stylelint --fix

docs: improve list
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: delete ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Due: none

docs: update the version of the dependencies
  docs/examples/grayscale.html
  docs/examples/watermark.html
  docs/examples/work-with-promise.html
  docs/index.html
Due: stylelint --fix

build: update dependencies
  package-lock.json
  package.json
Due: none

fix: add `crossOrigin` property to image for iOS browsers
  CHANGELOG.md
  src/index.js
Due: eslint --fix

fix: improve browser detecting
  src/constants.js
Due: eslint --fix

docs: add crossOrigin attributes to external links
  docs/examples/grayscale.html
  docs/examples/watermark.html
  docs/examples/work-with-promise.html
  docs/index.html
Due: stylelint --fix

chore: add a trailing slash to domain
  README.md
  docs/index.html
  src/utilities.js
Due: eslint --fix, stylelint --fix

build: release 1.0.6
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

build: fix lint-staged config
  package.json
Due: none

build: specfic the exports for bundle of commonjs
  rollup.config.js
Due: eslint --fix

docs: update the external dependencies
  docs/examples/grayscale.html
  docs/examples/watermark.html
  docs/examples/work-with-promise.html
  docs/index.html
Due: stylelint --fix

docs: add image comparer for better user experience
  docs/index.html
  docs/js/main.js
Due: eslint --fix, stylelint --fix

test: drop test case for checkOrientation
  test/specs/options/checkOrientation.spec.js
Due: eslint --fix

build: update plugins
  rollup.config.js
Due: eslint --fix

build: release 1.0.7
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

docs: add size badge
  README.md
Due: none

docs: add more description about quality
  README.md
Due: none

docs: add note for Exif information missing
  README.md
Due: none

ci: use LTS version of Node.js
  .travis.yml
Due: none

build: rename clear to clean
  package.json
Due: none

docs: add note for the async compression process
  README.md
Due: none

docs: hide app content before loaded
  docs/css/main.css
  docs/index.html
Due: stylelint --fix

ci: move to GitHub Actions
  .github/workflows/ci.yml
  .travis.yml
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,html}
