Repository fengyuanchen/compressorjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "*.js": ["eslint --fix", "git add"],
    "*.{css,html}": ["stylelint --fix", "git add"]
  },
  "ignore": ["{dist,docs}/**/*.js"]
}

build: upgrade husky to v6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
Due: none

build: update dependencies
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix

docs: rename `master` branch to `main`
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/index.html
Due: stylelint --fix

docs: fix grammar errors
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
Due: none

docs: add note about different compression effects in different browsers
  README.md
Due: none

build: set the `preventAssignment` option to `true` explicitly
  rollup.config.js
Due: eslint --fix

fix: ignore `strict` option when `maxWidth/Height` is set smaller
  CHANGELOG.md
  README.md
  src/index.js
Due: eslint --fix

feat: add `convertTypes` option to configure converting mime types
  CHANGELOG.md
  README.md
  docs/index.html
  docs/js/main.js
  src/defaults.js
  src/index.js
  test/specs/options/convertTypes.spec.js
  types/index.d.ts
Due: eslint --fix, stylelint --fix

feat: add new option `resize`
  CHANGELOG.md
  README.md
  docs/index.html
  docs/js/main.js
  src/defaults.js
  src/index.js
  src/utilities.js
  test/specs/options/minHeight.spec.js
  test/specs/options/minWidth.spec.js
  test/specs/options/resize.spec.js
  test/specs/options/strict.spec.js
  types/index.d.ts
Due: eslint --fix, stylelint --fix

fix: add missing type for the `success` option
  types/index.d.ts
Due: none

build: add config files
  .browserslistrc
  commitlint.config.js
  lint-staged.config.js
Due: eslint --fix

buil: release 1.1.0
  .husky/.gitignore
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

build: fix replace config
  rollup.config.js
Due: eslint --fix

build: release 1.1.1
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

Update README.md
  README.md
Due: none

docs: update README.md (#145)
  README.md
Due: none

fix: add rotate option to change image rotate
  src/defaults.js
  src/index.js
Due: eslint --fix

doc: add rotate doc to README.md
  README.md
Due: none

feat: add `retainExif` option to retain Exif
  docs/index.html
  docs/js/main.js
  lint-staged.config.js
  src/defaults.js
  src/index.js
  src/utilities.js
  test/specs/Compressor.spec.js
  types/index.d.ts
Due: eslint --fix, stylelint --fix

build: fix eslint config
  lint-staged.config.js
Due: eslint --fix

ci: use node version 18
  .github/workflows/ci.yml
Due: none

docs: remove dependencies badge
  README.md
Due: none

feat: add `retainExif` option to retain Exif (#159)
  docs/index.html
  docs/js/main.js
  src/defaults.js
  src/index.js
  src/utilities.js
  test/specs/Compressor.spec.js
  types/index.d.ts
Due: eslint --fix, stylelint --fix

refactor: improve the `retianExif` option for better performance
  README.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  docs/index.html
  docs/js/compressor.js
  docs/js/main.js
  src/defaults.js
  src/index.js
  src/utilities.js
  test/specs/Compressor.spec.js
  test/specs/options/retainExif.spec.js
  types/index.d.ts
Due: eslint --fix, stylelint --fix

style: fix eslint error
  test/specs/options/height.spec.js
  test/specs/options/width.spec.js
Due: eslint --fix

build: simplify stylelint config
  lint-staged.config.js
Due: eslint --fix

build: update dependencies
  package-lock.json
  package.json
Due: none

fix: fix url error when retain exif
  src/index.js
Due: eslint --fix

docs: update next changes
  CHANGELOG.md
Due: none

fix: restrict retainexif to only jpeg images
  src/index.js
Due: eslint --fix

refactor: moved file jpeg check to before utilising file reader
  src/index.js
Due: eslint --fix

fix: restrict `retainExif` to only for JPEG images (#169)
  src/index.js
Due: eslint --fix

refactor: improve code for better compatibility
  src/index.js
Due: eslint --fix

build: release 1.2.0
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

build: add IE support explicitly as IE is dead
  .browserslistrc
Due: none

build: release 1.2.1
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

docs: add link to image file type and format guide
  README.md
Due: none

chore: add Safari incompatibility with webp conversion in README browser support section
  README.md
Due: none

build: update issue template for bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

build: config issue template
  .github/ISSUE_TEMPLATE/config.yml
Due: none
