Repository fengyuanchen/compressorjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

build: uploading reports to Codecov using the Codecov Action
  .github/workflows/ci.yml
  package.json
Due: none

docs: more note to related option
  README.md
Due: none

docs: add Safari incompatibility with webp conversion in README browser support section (#194)
  README.md
Due: none

docs: improve description
  README.md
Due: none

build: update dependencies
  package-lock.json
  package.json
Due: none

docs: update main files title
  README.md
Due: none

build: update package.json
  package.json
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

fix: output the original image when `canvas.getContext('2d').getImageData()` is unavailable in Firefox's `privacy.resistFingerprinting` mode
  CHANGELOG.md
  src/index.js
  src/utilities.js
Due: eslint --fix

feat: convert the resulting Blob object into a File object for modern browsers
  CHANGELOG.md
  src/index.js
  test/specs/Compressor.spec.js
Due: eslint --fix

ci: use node version 22
  .github/workflows/ci.yml
Due: none

test: no-sandbox for karma tests
  test/karma.conf.js
Due: eslint --fix

build: release 1.3.0
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

ci: add workflow for publishing package to npm
  .github/workflows/npm-publish.yml
Due: none

ci: update actions and node version in CI workflow
  .github/workflows/ci.yml
Due: none

ci: add workflow for creating release
  .github/workflows/release.yml
Due: none

ci: use `ci` command instead `install`
  .github/workflows/ci.yml
Due: none

chore: fix typos
  src/defaults.js
  src/utilities.js
Due: eslint --fix

docs: update usage example and add tips for image compression
  README.md
Due: none

docs: fix typos and improve clarity in README.md
  README.md
Due: none

docs: update mimeType default value and improve URL management in compression methods
  docs/index.html
  docs/js/main.js
Due: eslint --fix, stylelint --fix

chore: add .eslintignore to exclude unnecessary files from linting
  .eslintignore
Due: none

style: format dragover and drop methods for consistency
  docs/js/main.js
Due: eslint --fix

chore: consolidate ESLint configuration by removing old files and adding a unified .eslintrc.js
  .eslintrc
  .eslintrc.js
  test/.eslintrc
Due: eslint --fix

feat: enhance image handling in examples by adding status messages and improving image display
  docs/examples/grayscale.html
  docs/examples/watermark.html
  docs/examples/work-with-promise.html
Due: stylelint --fix

fix: correct minor grammatical errors and improve consistency in changelog
  CHANGELOG.md
Due: none

style: format ESLint configuration for consistency in overrides section
  .eslintrc.js
Due: eslint --fix

feat(package): add exports field to enable native ESM resolution
  package.json
Due: none

ci: update tag pattern in workflows to restrict to v1.* for npm publish and release
  .github/workflows/npm-publish.yml
  .github/workflows/release.yml
Due: none

build: replace husky with simple-git-hooks for Git hooks management
  .eslintignore
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  simple-git-hooks.js
Due: eslint --fix

style: add .stylelintignore and migrate configuration to stylelint.config.js
  .stylelintignore
  .stylelintrc
  stylelint.config.js
Due: eslint --fix

chore(deps): update devDependencies to latest versions
  package-lock.json
  package.json
Due: none

chore: update stylelint configuration to allow empty input
  lint-staged.config.js
Due: eslint --fix

feat: add the `Compressor.create` static method for creating a new `Compressor` instance
  CHANGELOG.md
  README.md
  src/index.js
  test/specs/methods/create.spec.js
  types/index.d.ts
Due: eslint --fix

feat: refactor Options interface to use ResizeMode type for resize property
  CHANGELOG.md
  types/index.d.ts
Due: none

build: release v1.4.0
  CHANGELOG.md
  dist/compressor.common.js
  dist/compressor.esm.js
  dist/compressor.js
  dist/compressor.min.js
  docs/index.html
  docs/js/compressor.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,html}
